<div class="post">

  <div *ngIf="!edit">
    {{message.getMessageContent()}}
    <div class="edit">
      <input type="button" (click)="toggleEdit()" class="btn-edit" value="Edit">
    </div>
  </div>

  <div *ngIf="edit">
    <input type="text" value={{message.getMessageContent()}} #input (keyup.enter)="editPost(input.value)">
    <div class="edit">
      <input type="button" class="btn-save"  (click)="editPost(input.value)" value="Save">
      <input type="button" class="btn-delete" (click) = "deleteMessage()" value="Delete">
    </div>
  </div>
</div>
