div{
  padding: 0px;
  margin: auto;
}

.users{
  background-color: rgb(35, 32, 72);
  height: 100vh;
}

.chat{
  height: 85vh;
  background-color: rgb(211, 248, 255);
  overflow: auto;
}
.input{
  width: 100vw;
  height:15vh;
  text-align: center;
  background-color: rgb(11, 54, 84);
  display: table-cell;
  vertical-align: middle;
}
