.general{
    padding-top: 5px;
    padding-left: 49px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 3, 70);
}

.content{
/* margin: auto;
width: 50%; */
color:rgb(58, 216, 208);
/* background-color: white; */
/* margin-top: 90%; */
margin-top: 100px;
font-size: 20px;
font-family: Helvetica, Arial;
overflow: hidden;
}

