/* .zipcode{
padding-top: 5px;
padding-left: 12px;
font-size: 18px;
font-weight: bold;
color: white;
} */

.img{
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.names{
font-size: 15px;
color: rgba(255, 255, 255, 0.845);
padding-left:12px;
}


